# Python / Flask
venv/
__pycache__/
*.pyc
.env
.pytest_cache/
instance/

# Banco de dados local
app.db
*.sqlite3

# Logs
logs/
*.log

# VS Code & Gemini
.vscode/
.gemini/

# Build & Executables
dist/
build/
*.spec
